.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  margin: 92px 24px;
}

.header__menu {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 4px;
}

.header__link-list {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.header__link-list-item {
  list-style: circle;
}

.header__link-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
  padding-left: 188px;
}

.overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
}

.cover {
  position: relative;
  inset: 0;
  display: flex;
  padding: 165px 50px 50px 50px;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.cover__title {
  display: grid;
  z-index: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  gap: 20px;
}

.alignet-text {
  line-height: 115px;
  letter-spacing: 30px;
}

.alignet-text_center {
  line-height: 100px;
  justify-self: center;
}

.alignet-text_right {
  line-height: 100px;
  justify-self: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  padding: 0px 0px 0px 30px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.lots {
  margin: 179px 24px 0px 24px;
  font-family: Raleway;
  font-style: normal;
  color: #fff;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-left: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__card-list-item {
  display: block;
}

.card__link {
  display: block;
  height: 100%;
}

.card {
  display: flex;
  position: relative;
  inset: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 26.4px;
  padding: 51px 40px 0px 40px;
  z-index: 3;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  line-height: 24.4px;
  padding: 0px 40px 48px 40px;
  z-index: 3;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
  line-height: 23.48px;
  padding: 30px 0px 0px 40px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  margin: 179px 24px 0px 24px;
  min-height: 580px; 
  font-family: Raleway;
  font-style: normal;
  color: #000;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-left: 45px;
  padding: 64px 45.52px 62px 46.48px;
  border-radius: 125px;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__title {
  display: grid;
  align-content: center;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  margin: 164px 50px 0px 50px;
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  max-width: 237px;
  text-underline-offset: 4px;
}

.footer__menu {
  width: 149px;
  height: 64px;
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  flex-direction: column;
}

.footer__menu-list-item {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  gap: 48px;
  display: flex;
  list-style: none;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
